body{
    background-image: 
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlEVrn7KEvZNqG7VM8KGpi17a50-8zXHAgmvv1bwSb6UG21hbX);
}
h1{
    font-family: 'Prata', serif;
    text-align: center;
    background-color: rgb(54, 141, 175);
    border-top-right-radius: 10px;
    margin-top: -10px; 
}

h2{
    text-align: center;
    font-size: large;
    font-weight: lighter;
    font-family:"apercu",sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    color: #202121;
}
h3{
    text-align: center;
    font-size: large;
    font-weight: lighter;
    font-family:"apercu",sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.text-insert{
    font-size: 23px;
    width:300px;
    height: 330px;
    float: left;
    background-color: rgb(43, 101, 226);
    margin-left: 180px;
}
.number{
    font-size:19px;
    width:390px;
    height: 32px;
    float: left;
    background-color: rgb(43, 101, 226);
    margin-left: 290px;
    border-radius: 10px;
}

#message{
    height:200px;
    width: 200px;
} 
.opcion{
    font-size:19px;
    width:350px;
    height: 150px;
    float: left;
    margin-left: 80px;
}

#ci{
    font-size: 20px;
    border-radius:9px;
}
#deci{
    font-size: 20px;
    border-radius: 9px;
}
